# Ignore the .env file
.env

# Ignore virtual environment directories
chatbot_env/

# Ignore data directories
data/chat_history/
data/user_data/

# Ignore all .txt files in the data directory
data/*.txt

# Ignore the _pycache__/ compilation directory
__pycache__/

# Ignore the deprecated helpers.analysis/
helpers.analysis